{{#each birthdays as |birthday|}}



   <!-- use data-id not just id-->
   <ul data-id="{{birthday.id}}">
    <li> {{birthday.given_name}} {{birthday.family_name}} </li>
     <li> {{birthday.born_on}} </li>
     <button type="submit" class = "btn btn-primary remove-birthday-btn" name="button">Remove</button>
     <button type="button" class = "btn btn-primary" name="button">Update</button>
   </ul>

{{/each}}
